---
layout: frontpage
title: Home
---

<!-- Pages are navigated by scrollspy, see body tag -->

<!-- Intro -->
<div id="intro" class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1 class="brand-heading">Under Construction</h1>
                    <p class="intro-text">
                        {{ site.description}}
                    </p>
                    <a href="#about" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% for p in site.pages %}

<section id="{{ p.nav-link }}" class="{% cycle 'section-even', 'section-odd' %}">
    <div class="container content-section text-center">
        <div class="row justify-content-center">
            <div {% if p.front-page-width %} class="col-md-{{ p.front-page-width }}" {% else %} class="col-md-8" {% endif %}>
                {% if p.title %}
                <h2 class="text-center">{{ p.title }}</h2>
                {% endif %}
                {{ p.content }}
            </div>
        </div>
    </div>
</section>

{% endfor %}

