<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Resources</h3>
                    <ul>
                        <li><a href="{{ site.baseurl}}/sitemap.xml">Sitemap</a></li>
                        <li><a href="{{ site.baseurl}}/atom.xml">Atom</a></li>
                        <li><a href="{{ site.baseurl}}/feed.json">JSON</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Legal</h3>
                    <ul>
                        {% for p in site.legal %}

                        <li><a href="{{ site.baseurl}}{{ p.url }}">{{ p.title }}</a></li>
                        
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>{{ site.title }}</h3>
                    <p>{{ site.description }}</p>
                </div>
                <div class="col item social">
                    <a href="{{ site.twitter }}" target="_blank">
                        <i class="icon fa fa-twitter"></i>
                    </a>
                    <a href="{{ site.github }}" target="_blank">
                        <i class="icon fa fa-github"></i>
                    </a>
                </div>
            </div>
            <p class="copyright">{{ site.title }} © 2021</p>
        </div>
    </footer>
</div>


