<nav class="navbar navbar-expand-md navbar-custom fixed-top">
   <div class="container">
      <a class="navbar-brand" href="index.html">{{ site.title }}</a>

      <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarsDefault">
         <ul class="navbar-custom navbar-nav ml-auto">
               
               {% for item in site.data.navigation.links %}
               <li {% if item.url == page.url %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                  <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
               </li>
               {% endfor %}

               <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown01">                        
                  <a class="dropdown-item" href="page.html">Page Layout</a>
                  <a class="dropdown-item" href="post.html">Post Layout</a>
                  <a target="_blank" class="dropdown-item" href="https://www.wowthemes.net/themes/aries/">WP Version</a>
                  </div>
               </li> -->

               <li class="nav-item">
                  <a class="nav-link eventdl" target="_blank" href="https://google.de"><i class="fa fa-plus"></i> ADD DATASET</a>
               </li>
               
         </ul>              
         
      </div>
   </div>
</nav>
