<nav id="navbar-scroll" class="navbar navbar-expand-md navbar-custom fixed-top">
   <div class="container">
      <a class="navbar-brand" href="index.html">{{ site.title }}</a>

      <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarsDefault">
         <ul class="navbar-custom navbar-nav ml-auto">

               <li class="nav-item">
                  <a class="nav-link page-scroll" href="#intro">Home</a>
               </li>

               {% for item in site.pages %}
               <li class="nav-item">
                  <a class="nav-link page-scroll" href="{{ item.nav | prepend: '#' }}">{{ item.title }}</a>
               </li>
               {% endfor %}

               <li class="nav-item">
                  <a class="nav-link add-dataset-link eventdl" target="_blank" href="https://google.de"><i class="fa fa-plus"></i> ADD DATASET</a>
               </li>
               
         </ul>              
         
      </div>
   </div>
</nav>
