<nav id="navbar-scroll" class="navbar navbar-expand-md navbar-custom fixed-top">
   <div class="container">

      <a class="navbar-brand" href="{{ '/' | relative_url }}"><img class="navbar-logo" src="{{ 'assets/images/logo.svg' | relative_url }}"/></a>
      <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>

      <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarsDefault">
         <ul class="navbar-custom navbar-nav ml-auto">

               <!-- Depending on the current page either index (default layout) or a post page (post layout) we need different hrefs -->
               <li class="nav-item">
                  <a class="nav-link page-scroll" {% if page.layout == "frontpage" %} href="#intro" {% else %} href="{{ '/' | relative_url }}" {% endif %} >Home</a>
               </li>

               {% for item in site.pages %}

               {% if item.nav-link %}
               <li class="nav-item">
                  <a class="nav-link page-scroll" {% if page.layout == "frontpage" %} href="{{ item.nav-link | prepend: '#' }}" {% else %} href="{{ item.nav-link | prepend: '/#' | relative_url }}" {% endif %}>{{ item.title }}</a>
               </li>
               {% endif %}
               
               {% endfor %}

               <li class="nav-item">
                  <a class="nav-link add-dataset-link eventdl" target="_blank" href="https://google.de"><i class="fa fa-plus"></i> Contribute</a>
               </li>
               
         </ul>              
         
      </div>
   </div>
</nav>
