---
layout: compress
---

<!DOCTYPE html>
<html lang="en" >
  {% include head.html %}  
  <body data-spy="scroll" data-target="#navbar-scroll">
	    {% include navigation.html %}
	    
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>      
      <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <script type="text/javascript" src="{{ 'assets/js/theme.js' | relative_url }}"></script>

      {{ content }}

      {% include footer.html %}  

  </body>

</html>
