---
layout: default
---

<div class="small-intro">
  <div class="intro-body">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="brand-heading">{{ page.title }}</h1>
          <p class="intro-text">                  				
            {{ page.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section meta data -->

<section>
  <div class="container content-section-small">
    <div class="row">
      <div class="col-md-12">
        <div>

          <div class="post-meta-fields">
            <div class="text-field">
              <span class="text-field-label">Images</span>
              {% include img_gallery.html folder=page.img-directory %}
            </div>
          </div>


          <div class="post-meta-fields">
            <div class="text-field">
              <span class="text-field-label">Layout</span>
              <p>{{ page.layout }}</p>
            </div>
  
            <div class="text-field">
              <span class="text-field-label">Description</span>
              <p>{{ page.description }}</p>
            </div>
  
            <div class="text-field">
              <span class="text-field-label">Title</span>
              <p>{{ page.title }}</p>
            </div>  

            <div class="text-field">
              <span class="text-field-label">Date</span>
              <p>{{ page.date }}</p>
            </div>  

            <div class="text-field">
              <span class="text-field-label">Category</span>
              <p>{{ page.category }}</p>
            </div>  

            <div class="text-field">
              <span class="text-field-label">Name</span>
              <p>{{ page.url }}</p>
            </div>  
          </div>

          <div class="post-meta-fields">
            <div class="text-field">
              <span class="text-field-label">Tags</span><br>
              {% for t in page.tags %}
  
              <span class="chip"><span class="chip__content">{{ t }}</span></span>
    
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

  <!-- Section content -->
  <section>
  <div class="container content-section-small">
    <div class="row">
      <div class="col-md-8">
              
            {% if page.subtitle %}
            <h2>{{ page.subtitle }}</h2>
            {% endif %}

            {{ content }}

            <!-- <div class="disqus">
              <div id="disqus_thread"></div>
              <script type="text/javascript">
              var disqus_shortname = 'demowebsite'; 
              var disqus_developer = 0;
              (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = window.location.protocol + '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
              <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div> -->
              
      </div>
      <div class="col-md-4">
          <div class="sidebar">

              <div class="widget">
                  <h6>Links</h6>
                  <ul class="list-unstyled">
                  <li><a href="https://www.wowthemes.net/themes/tag/bootstrap/" target="_blank">Project Website</a></li>
                  <li><a href="http://bootstrapbay.com/?ref=wowthemesnet" target="_blank">Faculty Website</a></li>
                  <li><a href="https://graygrids.com/ref/wowthemesnet/" target="_blank"><i class="fa fa-github fa-fw"></i> Github</a></li>
                  <li><a href="https://themehunt.com/?ref=wowthemesnet" target="_blank"><i class="fa fa-graduation-cap fa-fw"></i> Publication</a></li>
                  </ul>
              </div>

              <h6><a data-toggle="collapse" href="#citation" role="button" aria-expanded="false" aria-controls="citation"><i class="fa fa-quote-left fa-fw"></i> Cite</a></h6>
              <div class="collapse" id="citation">
                <div class="card card-body citation-field">
                  {{ page.summary }} 
                </div>
              </div>

              <a href="https://github.com/wowthemesnet/template-aries-bootstrap-html" target="_blank" class="btn btnghost btn-lg"><i class="fa fa-external-link fa-fw"></i> <span class="network-name">Download</span></a>
              
          </div>
      </div>
    </div>
  </div>
  </section>

